body, html {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

.empty-layout-container {
  width: 100vw;
  height: 100vh;
}

.login-card {
  max-width: 100%;
  width: 500px;
}

.card-header {
  padding: 1.09375rem 1.875rem;
  background-color: rgba(90,97,105,.06);
  border-bottom: none; }
  .card-header:first-child {
    border-radius: 0.625rem 0.625rem 0 0; }

.card-footer {
  padding: 1.09375rem 1.875rem;
  background-color: rgba(90,97,105,.06);
  border-top: none; }
  .card-footer:last-child {
    border-radius: 0 0 0.625rem 0.625rem; }


.cursor-pointer {
  cursor: pointer;
}

.user-avatar {
  font-size: 2rem;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 999999;
}

.page-loader::after {
  content: '';
  display: block;
  height: 100%;
  background-color: var(--primary, #007bff);
  animation: loading 1s infinite ease-out;
}

@keyframes loading {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

.nav-pills:hover {
  background: transparent;
}

.nav-pills .nav-link {
  border-radius: 50px;
  padding: 0.5625rem 1rem;
  font-size: 0.75rem;
  line-height: 1.125;
}

.main-navbar .navbar .navbar-nav .dropdown-menu {
  left: 0;
}

.progress {
  height: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.progress-bar {
  height: 1rem;
  line-height: 1rem;
}

.share-total {
  border-bottom: 1px solid #e1e5eb;
}

@media screen and (min-width: 727px) {
  .share-total {
    border-bottom: none;
    border-right: 1px solid #e1e5eb;
  }
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
  display: block;
}

.notification-bar {
  z-index: 1000;
  background: white !important;
  color: #333 !important;
  border-top: 0.25rem solid var(--primary) !important;
  box-shadow: 0px 10px 60px 0 rgba(0, 0, 0, 0.2) !important;
}

.notification-bar-wrapper {
  display: flex;
  flex-direction: column;
}